<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:value="http://www.w3.org/1999/xhtml">

<body>
<form th:action="@{/registration}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Registration Page</button>
</form>

<div class="container">
    <form th:action="@{/login}" method="POST" class="form-signin">
        <h2 class="form-signin-heading" th:text="LogIn"></h2>
        <br/>

        <input type="text" id="username" name="username" th:placeholder="UserName"
               class="form-control"/> <br/>
        <input type="password" th:placeholder="Password"
               id="password" name="password" class="form-control"/> <br/>

        <div align="left" th:if="${param.error}" th:attribute="${error}">
            <p style="font-size: 20; color: #FF1C19;" th:text="${error}"></p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                th:text="Login"></button>
    </form>
</div>
</body>
</html>>