<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<style th:fragment="copy">
    li.menu-item {
        display: inline;
    }
</style>
<body>

<ul th:fragment="copy">
    <li class="menu-item"><a href="/">Home</a></li>
    <li class="menu-item"><a href="dashboard">Dashboard</a></li>
    <li class="menu-item" sec:authorize="hasRole('ROLE_ADMIN')"><a href="admin-panel">Admin Panel</a></li>
    <li class="menu-item" sec:authorize="isAnonymous()"><a href="login">Sign In</a></li>
    <li class="menu-item" sec:authorize="isAnonymous()"><a href="registration">Sign Up</a></li>
    <li class="menu-item" sec:authorize="isAuthenticated()"><span sec:authentication="name"></span></li>
    <li class="menu-item" sec:authorize="isAuthenticated()"><a href="logout">Log Out</a></li>
</ul>

</body>
<footer>
    <div id="copyright">
        &copy; 2018 Dormitory Resource Management System
    </div>
</footer>

</html>